@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);

.container, h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', sans-serif;
}
h1 {
  font-weight:bold;
}
a {
  cursor: pointer;
}
.container {
  margin-bottom:80px;
  width:980px;
}
#header {
  text-align:center;
}
#form {
  width:320px;
  margin:0 auto;
  float:none;
}
#form .form-control {
  display:inline;
  width:200px;
  padding-left:10px;
}
#form button {
  width:80px;
}
#social-buttons {
  width:370px;
  margin:0 auto;
  padding-left:20px;
}
#content {
  width:620px;
  float:left;
  padding-left:20px;
  margin-right:20px;
}
#list-intro {
  font-family:'YuGothic', 'Yu Gothic', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
  font-size:1.2em;
  display:none;
}
#list {
  width:320px;
  float:left;
  padding-left:20px;
  border-left: 1px solid #ccc;
}
.list-item {
  width:300px;
  margin-bottom:5px;
}
.list-item img {
  border:1px solid #333;
  margin-right:4px;
  max-width:20px;
  max-height:20px;
  width:20px;
  height:20px;
  background-color:#ccc;
}
.list-item b {
  display:block;
  width:250px;
  margin:1px 0 0 4px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height:1em;
}
.list-item a {
  display:block;
  padding:5px;
  border:1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.list-item a:hover {
  background-color:#eee;
}
.list-item a.list-active {
  color: #fff;
  background-color:#666;
  border:1px solid #000;
}
address {
  font-style:italic;
}
#player {
  width:600px;
  height:400px;
  background-color:#000;
}
