.container {
  margin-bottom:80px;
}
#header {
  text-align:center;
}
#form {
  width:320px;
  margin:0 auto;
  float:none;
}
#form .form-control {
  display:inline;
  width:200px;
  padding-left:10px;
}
#form button {
  width:80px;
}
.list-item {
  margin-bottom:5px;
}
.list-item img {
  border:1px solid #333;
  margin-right:10px;
  width:40px;
  height:40px;
  background-color:#ccc;
}
.list-item b {
  margin-top:10px;
}
.list-item a {
  display:block;
  padding:4px 8px;
  border:1px solid #ccc;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.list-item a:hover {
  background-color:#eee;
}