<!DOCTYPE html>
<html ng-app="fmtube">
  <head>
    <meta charset="utf-8">
    <title>FMTube!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="js/jquery.js"></script> -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body>
    <div ng-controller="controller" class="container">
      <div id="header">
        <h1>FMTube!</h1>
      </div>
      <!-- /header -->
      <div id="form-controller" class="row">
        <div id="form" class="col-md-4">
          <form role="form" ng-submit="submit()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="アーティスト名" ng-model="query" />
              <button type="submit" class="btn btn-default">Search</button>
            </div>
          </form>
        </div>
      </div>
      <!-- /form-controller -->
      <hr />

      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="list-item" ng-repeat="track in tracks">
            <a href="#" class="clearfix">
              <img ng-src="{{ track.image[0]['#text'] }}" class="pull-left">
              <b class="pull-left">{{ track.name }}</b>
            </a>
          </div>
        </div>
      </div>
      
      <hr />
      <div id="footer">
      </div>

    </div>
  </body>
</html>
