<!DOCTYPE html>
<html ng-app="fmtube" ng-controller="controller">
  <head>
    <meta charset="utf-8">
    <title ng-bind="title">FMTube!</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="js/jquery.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="js/app.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-492497-67', 'yusukebe.github.io');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
      <div id="header" class="clearfix">
        <h1><a href="http://yusukebe.github.io/FMTube/">FMTube!</a></h1>
      </div>
      <!-- /header -->
      <div class="row">
        <div id="form" class="col-md-4">
          <form role="form" ng-submit="submit(true)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Artist name" ng-model="query" />
              <button type="submit" class="btn btn-default"><b>Play!</b></button>
            </div>
          </form>
        </div>
      </div>
      <div id="social-buttons">
        <span style="margin-right:4px;">
          <a href="http://b.hatena.ne.jp/entry/http://yusukebe.github.io/FMTube/" class="hatena-bookmark-button" data-hatena-bookmark-title="FMTube!" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="en" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </span>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://yusukebe.github.io/FMTube/" data-text="FMTube!">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <span style="margin-left:-28px;">
          <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fyusukebe.github.io%2FFMTube%2F&amp;width=150&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=640667512644377" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px; width:150px;" allowTransparency="true"></iframe>
        </span>
      </div>

      <hr />

      <div class="row">
        <div id="content">
          <div id="player"></div>
        </div>
        <div id="list">
          <div id="list-intro">
            <p><b>FMTube!</b>とはチョー簡単に使えるYouTubeミュージックプレイヤー。</p>
            <p>
              フォームにあなたの好きなアーティスト名を入れて<b>Play</b>ボタンを押すと
              自動的にそのアーティストの曲一覧が現れ勝手にYouTube動画の再生がはじまります。
              使い方は<b>コ・レ・だ・け</b>！
            </p>
            <p>
              勉強用につくったので未熟なところがありますが、より高性能なWebサイトとして
              <a href="http://kimi.la/">君のラジオ</a>というモノを運営しているのでそちらもよろしく！
            </p>
          </div>
          <div class="list-item" ng-repeat="track in tracks">
            <a class="clearfix" ng-click="click($index)" ng-class="active_class($index)">
              <img ng-src="{{ track.image[0]['#text'] }}" class="pull-left">
              <b class="pull-left">{{ track.name }}</b>
            </a>
          </div>
        </div>
      </div>
      
      <hr />
      <div id="footer">
        <address>
          &copy; <a href="http://yusukebe.github.io/">yusukebe</a>,
          <b>FMTube</b> using Last.fm Web API, YouTube API, jQuery, AngularJS, Twitter Bootstrap and GitHub!
        </address>
      </div>
    </div>
  </body>
</html>
