.clearfix {
  *zoom: 1;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html {
  font-family: 'Roboto', sans-serif;
}

#container {
  width:960px;
  margin:0 auto;
  #player {
    width:630px;
    min-height:400px;
    margin-right:10px;
    float:left;
  }
  #sidebar {
    width:320px;
    float:left;
    @extend .clearfix;
  }
}

.selectedItem {
  background-color: #ddd;
}